@page "/AddUser"
@inherits RazorPageBases.AddUserBase;
@attribute [Authorize(Roles = "Admin")]

<h3>Add User</h3>

<EditForm Model="@userDetails" OnValidSubmit="@AddUserAsync">
    <UserFields userDetails="@userDetails"></UserFields>
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Style="margin-right:10px;" Size="Size.Medium">Add User</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Default" OnClick="Close" Size="Size.Medium">Close</MudButton>
</EditForm>

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>
