@page "/Admin"
@using MudBlazor
@inherits RazorPageBases.AdminPageBase;
@attribute [Authorize(Roles = "Admin")]

@*<AuthorizeView Roles="Admin">*@
@if (adminDetails == null)
{
	<p>Loading...</p>
}
else
{
<div class="row">
	@*Slika profila i podaci o danima*@
	<div class="col justify-content-between">
		<div class="card text-bg-primary mb-3">
			<div class="card w-25 ratio ratio-1x1  d-flex justify-content-between">
				<div>
					<MudAvatar Color="Color.Warning" Variant="Variant.Filled">
						<MudIcon Color="Color.Dark" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Large" />
					</MudAvatar>
				</div>
			
		
			</div>
			<div class="col-sm-6">
				<label for="formFile" class="form-label"></label>
				<input class="form-control" type="file" id="formFile"/>

			</div>
			<div class="card-title">
							<h5 style="margin-top:2%; margin-left:2%;">@adminDetails.LastName @adminDetails.FirstName</h5>
			</div>
			<div class="card-body">
							<p>E-mail: @adminDetails.Email</p>
			</div>
		
		</div>

	</div>
	<div class="col">
		<button type="button" class="btn btn-primary" @onclick="OpenAddUserPage">
			<span class="oi oi-plus"></span>
				Add User
		</button>
					<button type="button" class="btn btn-success" style="margin-right:5%;" @onclick="OpenApprovedVacations">
			<span class="btn btn-check"></span>
				Approved Vacations
		</button>
	</div>
	
</div>

@*Tablica sa poslanim zahtjevima, kalendar*@
<MudTable Items="@vacations" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Vacation,bool>(FilterFunction)" @bind-SelectedItem="selectedVacation">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Vacation Requests</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Last Name</MudTh>
        <MudTh>First Name</MudTh>
		<MudTh>Vacation Request Date</MudTh>
		<MudTh>Vacation From</MudTh>
		<MudTh>Vacation To</MudTh>
		<MudTh>Vacation Status</MudTh>
		<MudTh></MudTh>
		<MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.User.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.User.FirstName</MudTd>
        <MudTd DataLabel="Vacation Request Date">@context.VacationRequestDate</MudTd>
        <MudTd DataLabel="Vacation From">@context.VacationFrom</MudTd>
        <MudTd DataLabel="Vacation To">@context.VacationTo</MudTd>
		<MudTd DataLabel="Vacation Status">@context.Status</MudTd>
		<MudTd>
			<MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="() => ApproveVacationAsync(context)">Approve</MudButton>
		</MudTd>
		<MudTd>
			<MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="() => CancelVacationAsync(context)">Cancel</MudButton>
		</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
		<MudText Inline="true" Class="align-self-center">Selected1: @selectedVacation?.User.LastName</MudText>
    </div>
</div>
}
@*</AuthorizeView>*@

<ConfirmationDialog @ref="CancelConfirmationDialog" ConfirmationChanged="@OnCancelConfirmationSelected" Question="Are you sure you want to cancel this vacation?"></ConfirmationDialog>
