@page "/Admin"
@using MudBlazor
@inherits RazorPageBases.AdminPageBase;
@attribute [Authorize(Roles = "Admin")]

@*<AuthorizeView Roles="Admin">*@
@if (adminDetails == null)
{
	<p>Loading...</p>
}
else
{
<MudGrid Justify="Justify.FlexStart" Style="margin-bottom:100px;">
    <MudItem xs=9>
        <MudAvatar Size="Size.Large" Style="width:150px;height:150px; margin-bottom:30px;" Color="Color.Primary">@adminDetails.LastName.Substring(0, 1)</MudAvatar>
        <h3>@adminDetails.LastName @adminDetails.FirstName</h3>
    </MudItem>
    <MudItem xs=3>
           <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenAddUserPage" Style="margin-right:3%">Add User</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="OpenApprovedVacations" Style="position:absolute;margin-right:5%">Approved Vacations</MudButton>
    </MudItem>
</MudGrid>

<MudTable Items="@vacations" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Vacation,bool>(FilterFunction)" @bind-SelectedItem="selectedVacation">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Vacation Requests</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Last Name</MudTh>
        <MudTh>First Name</MudTh>
		<MudTh>Vacation Request Date</MudTh>
		<MudTh>Vacation From</MudTh>
		<MudTh>Vacation To</MudTh>
		<MudTh>Vacation Status</MudTh>
		<MudTh></MudTh>
		<MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.User.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.User.FirstName</MudTd>
        <MudTd DataLabel="Vacation Request Date">@context.VacationRequestDate.ToString("dd.MM.yyyy.hh:mm")</MudTd>
        <MudTd DataLabel="Vacation From">@context.VacationFrom.ToString("dd.MM.yyyy")</MudTd>
        <MudTd DataLabel="Vacation To">@context.VacationTo.ToString("dd.MM.yyyy")</MudTd>
		<MudTd DataLabel="Vacation Status">@context.Status</MudTd>
		<MudTd>
			<MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="() => ApproveVacationAsync(context)">Approve</MudButton>
		</MudTd>
		<MudTd>
			<MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="() => CancelVacationAsync(context)">Cancel</MudButton>
		</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
		<MudText Inline="true" Class="align-self-center">Selected: @selectedVacation?.User.LastName</MudText>
    </div>
</div>
}
@*</AuthorizeView>*@

<ConfirmationDialog @ref="CancelConfirmationDialog" ConfirmationChanged="@OnCancelConfirmationSelected" Question="Are you sure you want to cancel this vacation?"></ConfirmationDialog>
