@page "/Admin"
@using MudBlazor
@inherits RazorPageBases.AdminPageBase;
@attribute [Authorize(Roles = "Admin")]

@if (adminDetails == null)
{
	<p>Loading...</p>
}
else
{
<MudGrid Justify="Justify.FlexStart" Style="margin-bottom:100px;">
    <MudItem xs="6" >
        <MudAvatar Size="Size.Large" Style="width:150px;height:150px; margin-bottom:30px;" Color="Color.Primary">@adminDetails.FirstName.Substring(0, 1)@adminDetails.LastName.Substring(0, 1)</MudAvatar>
        <h3>@adminDetails.FirstName @adminDetails.LastName</h3>
    </MudItem>
    <MudItem xs="6">
           <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenAddUserPage" StartIcon="@Icons.Material.Filled.Add">Add User</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="OpenApprovedVacations" StartIcon="@Icons.Material.Filled.Check">Approved Vacations</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="OpenSickLeaveList" StartIcon="@Icons.Material.Filled.List">Sick Leaves</MudButton>
    </MudItem>
</MudGrid>

<MudTable Items="@vacations" Hover=true SortLabel="Sort By" Filter="new Func<Vacation,bool>(FilterFunction)" @bind-SelectedItem="selectedVacation">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Vacation Requests</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <NoRecordsContent>
        No records found.
    </NoRecordsContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.User.LastName)">Last Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.User.FirstName)">First Name</MudTableSortLabel></MudTh>
		<MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationRequestDate)">Vacation Request Date</MudTableSortLabel></MudTh>
		<MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationFrom)">Vacation From</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationTo)">Vacation To</MudTableSortLabel></MudTh>
		<MudTh>Vacation Status</MudTh>
		<MudTh></MudTh>
		<MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.User.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.User.FirstName</MudTd>
        <MudTd DataLabel="Vacation Request Date">@context.VacationRequestDate</MudTd>
        <MudTd DataLabel="Vacation From">@context.VacationFrom.ToString("dd.MM.yyyy")</MudTd>
        <MudTd DataLabel="Vacation To">@context.VacationTo.ToString("dd.MM.yyyy")</MudTd>
		<MudTd DataLabel="Vacation Status">@context.Status</MudTd>
		<MudTd>
			<MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Check" OnClick="() => ApproveVacationAsync(context)">Approve</MudButton>
		</MudTd>
		<MudTd>
			<MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Cancel" OnClick="() => DeclineVacationAsync(context)">Decline</MudButton>
		</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
}

<ConfirmationDialog @ref="CancelConfirmationDialog" ConfirmationChanged="@OnDeclineConfirmationSelected" Question="Are you sure you want to decline this vacation request?"></ConfirmationDialog>
