@page "/ApprovedVacations"
@inherits RazorPageBases.ApprovedVacationListBase;
@attribute [Authorize(Roles = "Admin")]

		@if (approvedVacations == null)
{
	<p>There is no records of vacation history.</p>
}
else
{
<MudTable Items="@approvedVacations" Hover=true SortLabel="Sort By" Filter="new Func<Vacation,bool>(FilterFunction)" @bind-SelectedItem="selectedVacation">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Approved Vacations</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Last Name</MudTh>
        <MudTh>First Name</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationRequestDate)">Vacation Request Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationFrom)">Vacation From</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationTo)">Vacation To</MudTableSortLabel></MudTh>
		<MudTh><MudTableSortLabel SortBy="new Func<Vacation, object>(x=>x.VacationSpent)">Vacation Spent</MudTableSortLabel></MudTh>
		<MudTh>Vacation Status</MudTh>
		<MudTh>Approved By</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.User.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.User.FirstName</MudTd>
        <MudTd DataLabel="Vacation Request Date">@context.VacationRequestDate</MudTd>
        <MudTd DataLabel="Vacation From">@context.VacationFrom.ToString("dd.MM.yyyy")</MudTd>
        <MudTd DataLabel="Vacation To">@context.VacationTo.ToString("dd.MM.yyyy")</MudTd>
		<MudTd DataLabel="Vacation Spent">@context.VacationSpent</MudTd>
		<MudTd DataLabel="Vacation Status">@context.Status</MudTd>
		<MudTd DataLabel="Approved By">@context.ApprovedBy</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudGrid Justify="Justify.FlexStart">
	<MudItem>
		<MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Default" OnClick="CloseApprovedVacationsPage" Size="Size.Medium" Style="margin-top:30px;">Close</MudButton>
	</MudItem>
</MudGrid>
}

