@page "/Employee"
@inherits RazorPageBases.EmployeePageBase;
@attribute [Authorize(Roles = "Employee")]


<AuthorizeView Roles="Employee">
	<Authorized>
		@if (currentEmployee == null)
{
	<p>Loading...</p>
}
else
{
<div class="row">
	@*Slika profila i podaci o danima*@
	<div class="col justify-content-between">
		<div class="card text-bg-primary mb-3">
			<div class="card w-25 ratio ratio-1x1  d-flex justify-content-between">
				<div>
					<img src="" class="card-img-top h-50" alt="Slika profila" />
				</div>
			
		
			</div>
			<div class="col-sm-6">
				<label for="formFile" class="form-label"></label>
				<input class="form-control" type="file" id="formFile"/>

			</div>
			<div class="card-title">
							<h5 style="margin-top:2%; margin-left:2%;">@currentEmployee.LastName @currentEmployee.FirstName</h5>
			</div>
			<div class="card-body">
							<p>E-mail: @currentEmployee.Email</p>
							<p class="card-text">Remaining vacation from last year: @currentEmployee.RemainingDaysOffLastYear</p>
							<p class="card-text">Remaining vacation from current year: @currentEmployee.RemainingDaysOffCurrentYear</p>
			</div>
		
		</div>

	</div>
		<div class="col">
					<button type="button" class="btn btn-primary" style="margin-left:70%;" @onclick="OpenAddVacationPage">
				<span class="btn btn-check"></span>
				Add vacation
			</button>
					<button type="button" class="btn btn-secondary" @onclick="OpenEmployeeHistoryPage">
				<span class="btn btn-check"></span>
				History
			</button>
		</div>
</div>

@*Tablica sa poslanim zahtjevima, kalendar*@
<div class="card w-100">
	<div class="card-body">
					<div>
						<table class="table table-hover table-responsive table-light table-borderless">
							<thead>
								<tr>
									<th>Last Name</th>
									<th>First Name</th>
									@*<th>Vacation Year</th>*@
									<th>Vacation From</th>
									<th>Vacation To</th>
									<th>Vacation Spent</th>
									<th>Vacation Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@if(currentEmployee.VacationDays == null || currentEmployee.VacationDays.Count.Equals(0))
								{
									<tr>No records found</tr>
								}
								else
								{
									@foreach (var vacation in currentEmployee.VacationDays)
									{
										<tr>
											<td>@currentEmployee.LastName</td>
											<td>@currentEmployee.FirstName</td>
											@*<td>@vacation.Year</td>*@
											<td>@vacation.VacationFrom.ToString("dd.MM.yyyy")</td>
											<td>@vacation.VacationTo.ToString("dd.MM.yyyy")</td>
											<td>@vacation.VacationSpent</td>
											<td>@vacation.Status</td>
											<td>
												<button type="button" class="btn-close" aria-label="Close" @onclick="() => DeleteVacationRequest(vacation.Id)"></button>
											</td>
										</tr>
									}
								}
							</tbody>
						</table>

					</div>
	</div>
</div>
}
	</Authorized>
	<NotAuthorized>
		<p>You are not authorized to view this page</p>
	</NotAuthorized>
</AuthorizeView>