<div class="UserFields">
    <label for="username">Username</label>
    <InputText id="username" @bind-Value="@userDetails.Username" class="form-control"></InputText>

    <label for="password">Password</label>
    <InputText id="password" typeof="password" @bind-Value="@userDetails.Password" class="form-control"></InputText>

    <label for="confirmPassword">Confirm Password</label>
    <InputText id="confirmPassword" typeof="password" @bind-Value="@userDetails.ConfirmPassword" class="form-control"></InputText>

    <label for="firstName">First Name</label>
    <InputText id="firstName" @bind-Value="@userDetails.FirstName" class="form-control"></InputText>

    <label for="lastName">Last Name</label>
    <InputText id="lastName" @bind-Value="@userDetails.LastName" class="form-control"></InputText>

    <label for="email">Email</label>
    <InputText id="email" @bind-Value="@userDetails.Email" class="form-control"></InputText>

    <label for="role">Role</label>
    <InputSelect id="role" @bind-Value="@userDetails.Role" class="form-control">
        <option value="">Select...</option>
        <option value="Admin">Admin</option>
        <option value="Employee">Employee</option>
    </InputSelect>

    @if(userDetails.Role == "Employee")
    {
    <label for="remainingVacationForCurrentYear">Remaining Vacation For Current Year</label>
    <InputNumber id="remainingVacationForCurrentYear" @bind-Value="@userDetails.RemainingDaysOffCurrentYear" class="form-control"></InputNumber>

    <label for="remainingVacationForLastYear">Remaining Vacation For Last Year</label>
    <InputNumber id="remainingVacationForLastYear" @bind-Value="@userDetails.RemainingDaysOffLastYear" class="form-control"></InputNumber>
    }
</div>

@code {
    [Parameter]
    public UserDetails userDetails { get; set; }
}
